/* Mobile styles */
.menu-list {
    display: none;
  }
  
  .open {
    display: block;
    
  }
  
  /* Tablet and desktop styles */
  @media (min-width: 640px) {
    .menu-list {
      display: flex;
      justify-content: space-between;
      background-color: white;
      padding: 1rem;
      color: black;
      font-size: 1.5rem;
      border-radius: 0.5rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
  
  /* Adjust styles for larger screens if needed */
  @media (max-width: 568px) {
    /* Add your additional styles here */
   
  }
  
  /* Adjust styles for even larger screens if needed */
  @media (min-width: 1024px) {
    /* Add your additional styles here */
  }
  